<header class="center">
    <div class="container">
        <h1>Minimal CSS&nbsp;Framework for semantic&nbsp;HTML</h1>
        <p>Elegant styles for all natives HTML elements without <code>.classes</code> and dark mode automatically enabled.</p>
        <p>
            <a href="docs/" role="button" class="secondary" aria-label="Documentation">Get started</a>
            <a href="https://github.com/picocss/pico/archive/refs/heads/master.zip" role="button" class="contrast outline" aria-label="Download">Download</a>
        </p>
        <p>
            <code><small>Less than 10 kB minified and gzipped</small></code>
        </p>
    </div>
</header>