<nav class="nav nav--header desktop">
  <ul>
    <li>
      <a href="/">
        {% if site.logo %}
          {% include site-logo.html %}
        {% else %}
          <strong>{{ site.title }}</strong>
        {% endif %}
      </a>
    </li>
  </ul>

  {% if site.navigation_header %}
  <ul class="list  list--nav">
    {% for item in site.navigation_header %}

      {% if item.url contains '://' %}
        {% assign url = item.url %}
      {% else %}
        {% assign url = item.url | relative_url %}
      {% endif %}

      <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
        <a href="{{ url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <div class="button  button--nav" aria-label="Menu toggle">
    {% include icon.html id="nav" title="Menu" %}
  </div>
  {% endif %}
</nav>

{% if site.navigation_header %}
<div class="mobile--nav">
  <ul class="list list--nav">
    {% for item in site.navigation_header %}

    {% if item.url contains '://' %}
    {% assign url = item.url %}
    {% else %}
    {% assign url = item.url | relative_url %}
    {% endif %}

    <li class="item item--nav{% if item.url == page.url %} item--current{% endif %}">
      <a href="{{ url }}">{{ item.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<style>
  .button--nav {
    padding: var(--nav-element-spacing-vertical);
    display: none;
  }
  .mobile--nav { display: none }
  .mobile--nav li { list-style-type: none }
  .mobile--nav .list--nav {
    height: var(--listHeight, 0);
    overflow: hidden;
  }
  @media screen and (max-width: 640px) {
    .desktop .list--nav { display: none }
    .mobile--nav { display: flex; justify-content: end; }
    .button--nav { display: block }
    .list--nav {
      flex-direction: column;
      align-items: end;
    }
    nav li.item--nav { padding: 0; padding-right: var(--nav-element-spacing-vertical) }
  }
</style>

<script type="text/javascript">
  // Get list and button
  const navList = document.querySelector('.mobile--nav .list--nav')
  const button = document.querySelector('.nav--header .button--nav')

  // Hide nav and apply toggle
  const collapseNav = () => {
    if (document.body.clientWidth < 640) {
      if (navList) navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
    } else {
      if (navList) navList.removeAttribute('style')
    }

    button.onclick = () => {
      if (navList) navList.style.setProperty('transition', `margin .1s`)
      if (navList && navList.style.getPropertyValue('--listHeight')) {
        navList.style.removeProperty('--listHeight')
      } else {
        if (navList) navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
      }
    }
  }

  collapseNav()

  // Check on resize if to collapse nav
  window.addEventListener('resize', () => {
    collapseNav()
  })
</script>
